.glyph.Identifier.JsxElement {
    background: #e06c75;
    opacity: 0.2;
  }
.mtk3.variableDeclarator{
  color: #c678dd;
}
.mtk3.importDeclarator{
  color: #eb2222;
}
  .mtk12.Identifier.JsxElement.Bracket {
    color: #fff5f6;
    text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
  }
  
  .mtk12.Identifier.JsxOpeningElement.Identifier {
    color: #fda700;
  }
  
  .mtk12.Identifier.JsxClosingElement.Identifier {
    color: #fda700;
  }
  
  .mtk12.Identifier.JsxAttribute.Identifier {
    color: #d19a66;
  }
  .mtk5{
    color: #fdfdfd;
  }
  .mtk1.ArrowFunctionExpression{
      color :rgb(84, 117, 224);
  }
  .mtk8.variableDeclaration{
      color:#c678dd;
  }
  .liveExpressionWidget{
    background-color: transparent;
    border: 1px solid orangered;
  }
  